<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <img src="/assets/pharmasee.png">
    <title>Home</title>
</head>

<body>
    <h1 id="pharmasee-intro">To <em>see</em> which pharmacy has Adderall in stock, click below:</h1>
    <button class="to-index" onclick="window.location.href='/pharmacy'">Click here</button>
	<div class="pharmacy-list">
		<ul>
		  <li>Look through pharmacies organized by town</li>
		  <li>See Adderall stock status</li>
		  <li>Click on a pharmacy to see its address and phone number</li>
		  <li>Add a pharmacy to the list</li>
		  <li>Update a pharmacy's stock status</li>
		</ul>
	

</body>
</html>