<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>

<body>
    <div class="container">
        <div class="image-container">
          <img src="/assets/pharmasee.png">
        </div>
        <h1 id="pharmasee-intro">To <em>see</em> which pharmacy has Adderall in stock, click below:</h1>
        <div class="button-container">
          <button class="to-index" onclick="window.location.href='/pharmacy'">Click here</button>
        </div>
      </div>

      <h1> Feel like reading? Scroll down!</h1>
      <p> If you are on this site, you are already aware that there is a national Adderall Shortage.<br>
        And if you ended up here by accident, congratulations... you are now aware that there is a national Adderall 
        shortage! <br> This website aims to make it easier for the residents of the great state of Connecticut
        to find which pharmacies have Adderall in stock. As a user you can:>
        <li>Look through pharmacies organized by town</li>
		  <li>See Adderall stock status</li>
		  <li>Click on a pharmacy to see its address and phone number</li>
		  <li>Add a pharmacy to the list</li>
		  <li>Update a pharmacy's stock status</li>
        
        Did you just call a pharmacy only to be told "try somewhere else"?  Take a minute (seriously,
        this site was created by and for someone with ADHD, so it really only takes a minute) and add the pharmacy
        you just called to the list and mark it as "out of stock"!  Save someone the trouble.  
        Did you manage to find a pharmacy that actually has your medicaiton in?  Add it to the list.  Adderall is a controlled
        substance, so it's not like you can hoard it like it's toilet paper.   Help someone out!

      </p>
	<!-- <div class="pharmacy-list"> -->
		<!-- <ul>
		  <li>Look through pharmacies organized by town</li>
		  <li>See Adderall stock status</li>
		  <li>Click on a pharmacy to see its address and phone number</li>
		  <li>Add a pharmacy to the list</li>
		  <li>Update a pharmacy's stock status</li>
		</ul>
	 -->

</body>
</html>