<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <img src="public/assets/PharmaSee-logo.png">
    <title>Home</title>
</head>

<body>
    <h1>TEST HOMEPAGE-HEROKU</h1>
	<a href="/pharmacy">Create New Pharmacy</a> 

</body>
</html>