


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
   
    </style>
  </head>

  <body>
    <div class="container">
      <div class="image-container">
        <img src="/assets/pharmasee.png">
      </div>
      <h1 id="pharmasee-intro">To <em>see</em> which pharmacy has Adderall in stock, click below:</h1>
      <div class="button-container">
        <button class="to-index" onclick="window.location.href='/pharmacy'">Check Adderall Stock</button>
      </div>
    </div>
    <div class="site-description">
      <h2 id="site-description">Want to learn more about this site? Read below:</h2>
      <p>
        This website helps Connecticut residents find pharmacies with Adderall in stock during the national shortage.
        As a user you can:
      </p>
      <ul>
        <li>Look through pharmacies organized by town</li>
        <li>See Adderall stock status</li>
        <li>Click on a pharmacy to see its address and phone number</li>
        <li>Add a pharmacy to the list by pressing "add" and filling out a quick form</li>
        <li>Update a pharmacy's stock status by pressing "edit"</li>
      </ul>
      <p>
        Help us help others! If you have any information about a pharmacy's Adderall supply, update the list! 
        Click the "Check Adderall Stock" button above to view and add to the list.  Or click "Add Pharmacy to List" button below
      </p>
    </div>
    <button class="to-new" onclick="window.location.href='/pharmacy/new'">Add Pharmacy to List</button>
  </body>
</html>
