<!DOCTYPE html>
<html>
<head>
	<title>Pharmacies List</title>
</head>
<body>
	<h1>Pharmacies List</h1>
	<ul>
		<% pharmacys.forEach(function(pharmacy) { %>
			<li>
				<a href="/pharmacy/<%= pharmacy._id %>"><%= pharmacy.name %></a>
				<form action="/pharmacy/<%= pharmacy._id %>/edit" method="GET" style="display:inline">
					<button type="submit">Edit</button>
				</form>
				<form action="/pharmacy/<%= pharmacy._id %>?_method=DELETE" method="POST" style="display:inline">
					<button type="submit">Delete</button>
				</form>
			</li>
		<% }); %>
	</ul>
	<a href="/pharmacy/new">Create New Pharmacy</a> 
</body>
</html>