<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Show Page</title>
    </head>
    <body>
        <h1>pharmacy</h1>
            <a href="/pharmacy">Return to Home Page</a>
        </nav>
    </body>
</html>