/* //index.ejs */

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 30px;
}



ul {
  list-style: none;
  padding: 0;
  margin: 30px;
}

li {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #333;
}

/* div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #555;
}

span {
  margin-left: 10px;
}

a[href='/pharmacy/new'] {
  display: block;
  margin: 30px;
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
}

a[href='/pharmacy/new']:hover {
  background-color: #555;
}


li > * {
  flex-basis: calc(33.33% - 10px);
}

li > form {
  margin-left: auto;
}

/* edit page */

form {
  margin: 30px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 20px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}

button[type="button"] {
  background-color: #ccc;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #aaa;
}

input[type="submit"], input[type="reset"] {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

input[type="submit"]:hover, input[type="reset"]:hover {
  background-color: #555;
}

button,
input[type="submit"],
input[type="reset"] {
  margin-top: 20px;
}
