/* homepage */

/* logo styling */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px; 
}

img {
  max-width: 100%;
  height: auto;
}
  #pharmasee-intro {
    text-align: center;
    margin-top: -200px;
    font-family: Arial, sans-serif ;
}

.site-description {
  text-align: center; 
  font-family: Arial, sans-serif;
}

.site-description ul {
  list-style:none;
  text-align: none;
    border: 10px solid #38b6ff;
    padding: 20px;
    margin-left: 400px;
    margin-right:400px;
    border-radius:400px;
}

.site-description li {
  margin-bottom: 5px;
  padding: 5px;
} 




/* 
go to index button */
.button-container {
  text-align: center;
}

.to-index {
  display: inline-block;
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  background-color: #38b6ff;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 2px 5px #0000004d;
  transition: transform 0.3s ease-in-out;
}

.to-index:hover {
  background-color: #0069d9;
  transform: scale(1.1);
}


#index-header {
font-family: Arial, sans-serif;
text-align: center;
}
 */

 /* add new- button */
 .button-container {
  text-align: center;
}

.to-new {
  display: inline-block;
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  background-color: #38b6ff;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 2px 5px #0000004d;
  transition: transform 0.3s ease-in-out;
}

.to-new:hover {
  background-color: #38b6ff;
  transform: scale(1.1);
}
/* //index */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* buttons */

#addPharmacy {
  display: inline-block;
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  background-color: #38b6ff;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 2px 5px #0000004d;
  transition: transform 0.3s ease-in-out;
}

#addPharmacy:hover {
  background-color: #87ebfd;
  transform: scale(1.1);
}

#goToHomepage {
  display: inline-block;
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  background-color: #38b6ff;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 2px 5px #0000004d;
  transition: transform 0.3s ease-in-out;
}

#deleteBtn {
  display: inline-block;
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  background-color: #d4721d;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 2px 5px #0000004d;
  transition: transform 0.3s ease-in-out;
}

#deleteBtn:hover {
  background-color: #e9ad61;
  transform: scale(1.1);
}


#editBtn {
  display: inline-block;
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  background-color: #38b6ff;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 2px 5px #0000004d;
  transition: transform 0.3s ease-in-out;
}

#editBtn:hover {
  background-color: #87ebfd;
  transform: scale(1.1);
}


#goToHomepage:hover {
  background-color: #87ebfd;
  transform: scale(1.1);
}

.pharmacy-list {
  font-family: Arial,sans-serif;
}
.pharmacy-list table {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
  margin-top: 30px;
}

.pharmacy-list th {
  background-color: #e6f2ff;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.pharmacy-list td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.pharmacy-list tr:nth-child(even) {
  background-color: #f2f2f2;
}

.pharmacy-list tr:hover {
  background-color: #cce6ff;
}
.pharmacy-list td {
  border: 1px solid #ddd;
  padding: 10px;
}





.pharmacy-list td.in-stock {
  background-color: #c2e0c6;
}

.pharmacy-list td.out-of-stock {
  background-color: #f5b7b1;
}

/* new  and update form*/


.pharmacy-input {
  font-family: Arial, sans-serif;
}

 .pharmacy-input label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.pharmacy-input input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.pharmacy-input label[for="inStock"] {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #007bff;
}

.pharmacy-input input[type="checkbox"] {
  transform: scale(1.5);
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
}


.pharmacy-input button:first-of-type {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: #38b6ff;
  color: white;
  cursor: pointer;
}

.pharmacy-input button:first-of-type:hover {
  background-color: #0062cc;
}

/* //submit- button */
.pharmacy-input button[type="submit"] {
  display: inline-block;
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  background-color: #38b6ff;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 2px 5px #0000004d;
  transition: transform 0.3s ease-in-out;
}

.pharmacy-input button[type="submit"]:hover {
  background-color: #87ebfd;
}

.pharmacy-input {
  max-width: 400px;
  margin: 0 auto;
}
/* 
edit page */

#edit-pharmacy {
  font-family: Arial, sans-serif;
  text-align: center;

}
/* 
new */

#new-pharmacy {
  font-family: Arial, sans-serif;
  text-align: center;

}
/* show page */

.pharmacy-show {
  font-family: Arial, sans-serif;
  margin: 20px auto;
  max-width: 600px;
}

.pharmacy-show h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.pharmacy-show ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pharmacy-show li {
  margin-bottom: 10px;
}

.pharmacy-show li strong {
  font-weight: bold;
}

.pharmacy-show a {
  display: inline-block;
  margin-top: 20px;
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #007bff;
  padding: 10px 20px;
  border-radius: 4px;
}

.pharmacy-show a:hover {
  background-color: #007bff;
  color: #fff;
}

/* edit */

/* new */

#backBtn {
  display: inline-block;
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  background-color: #d4721d;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 2px 5px #0000004d;
  transition: transform 0.3s ease-in-out;
  margin-top: 200px;
 
}

#backBtn:hover {
  background-color: #e9ad61;
  transform: scale(1.1);
}
